@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: #070707;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes bannerLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.333%);
  }
}

@keyframes bannerRight {
  from {
    transform: translateX(-33.333%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes footerMarquee {
  from {
    transform: translateX(-8%);
  }
  to {
    transform: translateX(18%);
  }
}
